body {
    background-image: url(../img/bkg.png);
    font-family: 'Amatic SC', serif;
    color: #D6DBDF;
    text-align: center;
}

body i {
    color: #D6DBDF;
}

.eyeball {
    position: absolute !important;
    top: 120px;
    width: 61px;
    height: 71px;
    margin-right: 10px;
    border-radius: 50%;
}

.eyeball .iris {
    width: 10px;
    height: 10px;
    background: #0A77D0;
    border-radius: 50%;
}

.eyeball.left {
    left: 62px;
}

.eyeball.right {
    left: 130px;
}

.main .firstrow {
    margin-top: 20px;
}

.main .secondrow {
    width: 100%;
    margin-top: 50px;
}


.main .secondrow .leftbox{
    float: left;
    width: 100px;
}

.main .secondrow .rightbox{
    float: right;
    width: 100px;
}

.main .secondrow .avatar{
    margin: 0 auto;
    width: 250px;
    position: relative;
}

.main .firstrow .title{
    font-size: 130px;
    font-weight: bold;
}

.main .firstrow .email{
    font-size: 44px;
}

.main .thirdrow {
    margin-top: 50px;
    font-size: 35px;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2){

    .main .secondrow .avatar{
        width: 500px;
    }

    .main .secondrow .avatar img{
        width: 500px;
    }

    .eyeball {
        top: 237px;
        width: 119px;
        height: 144px;
    }

    .eyeball.left {
        left: 124px;
    }

    .eyeball.right {
        left: 258px;
    }

    .eyeball .iris {
        width: 20px;
        height: 20px;
    }

    .main .firstrow .title{
        font-size: 200px;
    }

    .main .firstrow .email{
        font-size: 80px;
    }

    .main .thirdrow {
        font-size: 80px;
    }

}